<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :title %></th>
    <td><%= @item.title %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :style %></th>
    <td><%= @item.show_style %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sort_no %></th>
    <td><%=raw @item.sort_no %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :input_method %></th>
    <td><%= @item.show_input_method %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :input_option %></th>
    <td><%=simple_format @item.input_option %></td>
  </tr>
</table>
