<table class="show">
  <tr>
    <th>投稿No.</th>
    <td><%= @item.id %></td>
  </tr>
    <th>投稿日時</th>
    <td><%= @item.created_at %></td>
  </tr><tr>
    <th>投稿者名</th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th>タイトル</th>
    <td><%= @item.title %></td>
  </tr><tr>
    <th>本文</th>
    <td><%=hbr @item.body.gsub(/([^ ]{120})/, "\\1 ") %></td>
  </tr>
  <% unless @item.email.blank? %>
  <tr>
    <th>Email</th>
    <td><%= @item.email %></td>
  </tr>
  <% end %>
  <% unless @item.uri.blank? %>
  <tr>
    <th>URL</th>
    <td><%= @item.uri %></td>
  </tr>
  <% end %>
  <tr>
    <th>IPアドレス</th>
    <td><%= @item.ipaddr %></td>
  </tr>
  <tr>
    <th>ユーザエージェント</th>
    <td><%= @item.user_agent %></td>
  </tr>
  <tr>
    <th>状態</th>
    <td><%= @item.status.name %></td>
  </tr>
</table>

<%= form_for(:item, :html => {:method => :put}) do |f| %>
<%= submit @item.state_options %>
<% end %>
