<table class="show">
  <tr>
    <th>スレッド</th>
    <td><%= link_to "#{@item.parent_id} : #{Bbs::Item.find(@item.parent_id).title}", :id => @item.parent_id unless @item.parent_id == 0 %></td>
  </tr>
  <tr>
    <th>投稿No.</th>
    <td><%= @item.id %></td>
  </tr>
  <tr>
    <th>投稿日時</th>
    <td><%= @item.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:state) %></th>
    <td><%= @item.status.name %></td>
  </tr><tr>
    <th><%= @item.locale(:name) %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.locale(:title) %></th>
    <td><%= @item.title %></td>
  </tr><tr>
    <th><%= @item.locale(:body) %></th>
    <td><%=hbr @item.body.gsub(/([^ ]{120})/, "\\1 ") %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:email) %></th>
    <td><%= @item.email %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:uri) %></th>
    <td><%= @item.uri %></td>
  </tr>
  <tr>
    <th>IPアドレス</th>
    <td><%= @item.ipaddr %></td>
  </tr>
  <tr>
    <th>ユーザエージェント</th>
    <td><%= @item.user_agent %></td>
  </tr>
</table>

<%= form_for(:item, :html => {:method => :put}) do |f| %>
<%= submit @item.state_options %>
<% end %>
