<span class="note">※は必須項目です。</span>

<table class="show">
  <tr>
    <th><%= f.label :title %> <span class="note">※</span></th>
    <td><%= f.text_field :title, style: 'width: 600px;' %></td>
  </tr>
  <tr>
    <th><%= f.label :title_kana %> <span class="note">※</span></th>
    <td><%= f.text_field :title_kana, style: 'width: 600px;' %></td>
  </tr>
<% @fields.each do |field| -%>
  <tr>
    <th><%= raw("<div class='field_with_errors'>") if @item.validate_field_errors && @item.validate_field_errors.include?(field.id) %><%= field.title %><%= raw("</div>") if @item.validate_field_errors && @item.validate_field_errors.include?(field.id) %><%= field.style == "require" ? raw(' <span class="note">※</span>') : '' %></th>
    <td><%= raw("<div class='field_with_errors'>") if @item.validate_field_errors && @item.validate_field_errors.include?(field.id) %><%= text_field_tag "[item][field][#{field.id}]", (@item.new_record? ? params[:item][:field][field.id.to_s] : @item.fields.find_by_custom_field_form_id(field.id)[:value] rescue nil), style: 'width: 600px;' %><%= raw("</div>") if @item.validate_field_errors && @item.validate_field_errors.include?(field.id) %></td>
  </tr>
<% end -%>
</table>