<table class="index">
  <tr>
    <th style="text-align: center; width: 60px;">詳細</th>
    <th><%= CustomField::Doc.human_attribute_name :title %></th>
    <th><%= CustomField::Doc.human_attribute_name :title_kana %></th>
    <th style="text-align: center; width: 65px;">記事</th>
  </tr>
  <%- @items.each do |item| -%>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, custom_field_doc_path(content: @content, id: item.id) %></td>
    <td style="text-align: left;"><%= item.title %></td>
    <td style="text-align: left;"><%= item.title_kana %></td>
    <td style="text-align: center;">
      <%= link_to '記事', gp_article_doc_url(@gparticle, @gparticle.docs.find(item.gp_article_doc_id)) if @gparticle && item.gp_article_doc_id.presence %>
    </td>
  </tr>
  <%- end -%>
</table>

<%= paginate @items -%>
