<% if @comment.author_name.blank? %>
<%= link_to "ログイン", "/_auth/facebook?origin=#{item.public_uri}" %>
<% else -%>
<%= form_tag "#{item.public_uri}comments/confirm" do -%>
<input type="hidden" name="comment[author_name]" value="<%= @comment.author_name %>">
<input type="hidden" name="comment[author_url]"  value="<%= @comment.author_url %>">
<div class="commentPost">
  <div class="uiTypeahead">
    <div class="wrap">
      <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
      <div class="innerWrap">
        <textarea class="uiTextareaNoResize uiTextareaAutogrow input mentionsTextarea textInput" title="コメントを追加..." required="1" placeholder="コメントを追加..." name="comment[body]" role="textbox" aria-autocomplete="list" autocomplete="off" aria-expanded="false" aria-owns="typeahead_list_u_0_5" aria-haspopup="true" id="u_0_6"></textarea>
      </div>
    </div>
  </div>
  <div class="post">
    <div class="_ohf">
      <div class="_4bl7 prs">
        <div class="commentas">
          <span class="commentas_inner"><span class="commentasName"><a href="<%= @comment.author_url %>" target="_blank"><%= @comment.author_name %></a></span>さんとして投稿する（<%= link_to "ログアウト", "/_auth/logout?origin=#{item.public_uri}" %>）</span>
        </div>
      </div>
      <div class="_4bl7">
        <input value="コメントする" type="submit" id="u_0_3">
      </div>
    </div>
  </div>
</div>
<%- end -%>
<%- end -%>

<br>
<br>

<%- unless item.public_comments.empty? -%>
<div id="comments" class="comments">
  <ul class="_4kg">
  <%- item.public_comments.each do |comment| -%>
    <li class="fbFeedbackPost">
      <div class="_29k">
        <a class="profileName fwb" target="_blank" href="<%= comment.author_url %>"><%= comment.author_name %></a>
        <div class="postContent fsm fwn fcg">
          <div class="postText"><%=simple_format comment.body %></div>
          <abbr><%= comment.posted_at.strftime('%-m月%d日 %H:%M') %></abbr>
        </div>
      </div>
    </li>
  <%- end -%>
  </ul>
</div>
<%- end -%>
